[submodule "cpp/json_demo/third_party/json"]
	path = cpp/json_demo/third_party/json
	url = https://github.com/nlohmann/json
[submodule "cpp/spdlog_demo/third_party/spdlog"]
	path = cpp/spdlog_demo/third_party/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "multi/python_c/pybind11_test/third_party/pybind11"]
	path = multi/python_c/pybind11_test/third_party/pybind11
	url = https://github.com/pybind/pybind11.git
[submodule "cpp/eigen_demo/third_party/eigen"]
	path = cpp/eigen_demo/third_party/eigen
	url = https://gitlab.com/libeigen/eigen.git
